---
title: About
heading: About us 
subtitle: 
---




<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Our Previous Work</h3>
			<p class="editable">We take great pride in some of our previous projects</p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 2 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>




