---
title: mcOgnito Labs
---

<section class="hero diagonal">
	<div class="container">
		<h2 class="editable">McOgnito Labs</h2>
		<p class="subtext editable">Software Development made simple.</p>
		<p><a class="button alt" href="{{ site.baseurl }}/contact/">Contact Us</a></p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container halves">
		<div>
			<h3 class="editable">Some of our work</h3>
			<p class="editable">We take pride in our previous projects.</p>
			<p class="editable"><a href="{{ site.baseurl }}/portfolio/">View All Projects. &rarr;</a></p>
		</div>
		<div>
			<ul class="image-grid">
				{% for client in site.clients limit: 4 %}
					<li><a href="{{ site.baseurl }}{{ client.url }}"><img src="{% include relative-src.html src=client.image_path %}"></a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>


